body {
    background-image: url(images/bg.jpg);
}

div.content {
  background-color: #fff4e6;
  width: 60%;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  border:2px solid #51280f;
  margin: 0 auto;
  opacity:0.95;
}

.menu-main {
  list-style: none;
  margin: 40px 0 30px;
  padding: 25px 0 5px;
  text-align: center;
  background: #fff4e6;
  opacity:0.95;
}
.menu-main li {
    display: inline-block;
}
.menu-main li:after {
  content: "|";
  color: #271b13;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  /*font-family: 'Ubuntu Condensed', sans-serif;*/
  /*letter-spacing: 2px;*/
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
    font-family: Arial, Times, serif;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #271b13;}
.menu-main a.current, .menu-main a:hover{color: #51280f;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #51280f;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}

.table {
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    border-collapse: collapse;
}

.table_addBooks {
    width: 90%;
    margin: 0 auto;
    vertical-align: top;
    border-collapse: collapse;
}

.td {
    height: 50px;
    text-align: left; /* Выравниваем текст по центру ячейки */
    border: 1px solid #84420f; /* Параметры рамки */
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 20pt;
}
.th {
    height: 50px;
    text-align: left; /* Выравниваем текст по центру ячейки */
    border: 2px solid #84420f; /* Параметры рамки */
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 14pt;
}

.dateOf {
    width: 120px;
    font-size: 12pt;
}

.noColor {
    background: #fff4e6;
    color: #fff4e6;
    font-size: 10pt;
}
.green {
    background: #00962d;
    color: #00962d;
    font-size: 10pt;
}

.red {
    background: #d7130b;
    color: #d7130b;
    font-size: 10pt;
}

.yellow {
    background: #fad948;
    color: #fad948;
    font-size: 10pt;
}

.login-field {
    margin-up: 10px;
    margin-bottom: 0px;
}

.submit-button {
    margin-top: 10px;
}

.submit-button:hover {
    color: #98a2b9;
}

.control-group {
    margin-top: 10px;
}

.error {
    color: #d7130b;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 10pt;
}
/*-----------------------BASE---------------------------------*/
input{
    border: 1px #51280f solid;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px #51280f solid;
    border-radius: 5px;
}

button{
    border: 1px rgba(81, 40, 15, 0.53) solid;
    border-radius: 5px;
    background: #f4c195 linear-gradient(#f4eed9, #f4e5cb);
}

button:hover {
    border: 1px solid #51280f;
    background: #c79e7a linear-gradient(#ece6d2, #e1d4bb);
    box-shadow: 0 1px 2px rgba(225, 212, 187, 0.1);
}

button:focus {
    border: 1px solid #51280f;
    background: #c79e7a linear-gradient(#ece6d2, #e1d4bb);
    outline: none;
}

textarea {
    border: 1px #51280f solid;
    border-radius: 5px;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 2px #51280f solid;
    border-radius: 5px;
}
/*--------------------------------TEXT-----------------------------------------------*/
.info-text{
    font-family: Arial, Times, serif; /* Гарнитура текста */
    font-size: 12pt;
    color: #51280f;
    border: none;
}

.important-text{
    font-family: Arial, Times, serif; /* Гарнитура текста */
    font-size: 14pt;
    color: #51280f;
}

.app-title{
}

.error-message {
    color: #d7130b;
    font-style: italic;
}

/*---------------------------------INPUT---------------------------------------*/
.input-field{
    margin-top: 5px;
    margin-bottom: 10px;

    text-align: left;
}

.input-text-field{
    margin-top: 5px;
    margin-bottom: 10px;

    text-align: left;

    height: 150px;
    width: 70%;
    overflow: scroll;
}

/*------------------------BUTTONS-------------------------------*/
.send-data-button{
    margin-top: 5px;
    margin-bottom: 10px;

    text-align: left;
}

/*--------------------------AUTOCOMPLITE-----------------------------------------------------*/
.autocomplete-form{
    width: 300px;
    margin-bottom: 20px;
}

.autocomplete-field{
    width: 100%;
    outline: none !important;
}

.autocomplete-down-list{
    overflow: auto;
    max-height: 60px;

    border: 1px #51280f solid;
}

.autocomplete-item{
    background-color: #f4eed9;
    cursor: pointer !important;
}

.autocomplete-item-text{
    border-radius: 0px;
    background-color: #f4eed9;
    border: none;
    width: 99%;

    cursor: pointer !important;
}

.autocomplete-item-text:hover {
    outline: none;

    border: 1px rgba(81, 40, 15, 0.39) solid;
    background-color: rgba(244, 218, 180, 0.55);
}

.autocomplete-item-text:focus {
    outline: none;

    background-color: rgba(244, 193, 149, 0.63);
}

/*-----------------------TABLE---------------------------------------------*/

table {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    border-collapse: collapse;
}

.exists {
    background-color: #fff4e6;

    cursor: pointer !important;
}

.none {
    background-color: #fff4e6;

    cursor: default !important;
}

.busy {
    background-color: rgba(230, 221, 209, 0.50);
    color: rgba(45, 22, 8, 0.50);
}

img.busy {
    opacity: 0.50;
}

img.busy:hover {
    opacity: 1.0;
}

td {
    height: 60px;
    text-align: left; /* Выравниваем текст по центру ячейки */
    border: 1px solid #84420f; /* Параметры рамки */
}

.img-td {
    width: 48px;
}

img {
    vertical-align: middle;
    margin-left: 4px;
}

.text-td {
    margin-left: 10px;
}

.small-img {
    border: 1px solid #84420f;
}

.small-img:hover{
    position: absolute;
    transform:scale(4);
    z-index: 990;
    background-color: #fff4e6;
}

.autocomplete-choise{
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
}