{% extends "baseWorker.html" %}

{% block content %}

    <form action="/addBooks" method="POST" enctype="multipart/form-data">
        <div class="books">
            <div class="addBook-screen">
                <div class="app-title info-text">
                    <h1>Добавление книг</h1>
                </div>
                <div class="error-message important-text">
                </div>
                <div class="addBook-form">
                    <table class="table_addBooks">
                    <tr>
                        <td><div class="picture">
                            <img src="data:image/png;base64,{{ def_img_book }}" width="128" height="128"/><br>
                            <input type="file" name="pic" onchange="previewFile()">
                        </div></td>
                        <td><div class="data">
                            <div class="control-group">
                                <label class="info-text" for="book-name" id="book-name-label" >Название книги</label><br>
                        	    <input required type="text" class="login-field input-field important-text" value="" placeholder="Название книги" name="book_name" id="book-name">
                            </div>
                            <div class="control-group">
                                <label class="info-text" for="book-author" id="book-author-label" >Автор книги</label><br>
                        	    <input required type="text" class="login-field input-field important-text" value="" placeholder="Автор" name="book_author" id="book-author">
                            </div>
                            <div class="control-group">
                                <label class="info-text" for="book-publish" id="book-publish-label" >Год издания книги</label><br>
                        	    <input required type="number" class="login-field input-field important-text" size="4" min="0" max="2019" value="" placeholder="Год издания" name="book_published" id="book-publish">
                            </div>
                            <div class="control-group">
                                <label class="info-text" for="book-description" id="book-description-label" >Описание</label><br>
                                <textarea type="text" class="login-field input-text-field info-text" value="" name="book_description" id="book-description"></textarea>
                            </div>
                        </div></td>
                    </tr>
                    </table>
                    <div class="control-group">
                        <label class="info-text" for="book-count" id="book-count-label" >Количество добавляемых экземпляров</label><br>
                	    <input type="number" class="login-field input-field important-text" size="1" min="1" max="100" value="1" name="book_count" id="book-count">
                    </div>
                    <div class="submit-button">
                        <button class="send-data-button important-text" id="addBook">Добавить в базу</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
    function previewFile() {
  let preview = document.querySelector('img');
  let file    = document.querySelector('input[type=file]').files[0];
  let reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
  document.getElementById('book-path').value = reader.readAsBinaryString(file);
}
</script>

{% endblock %}