{% extends "baseAdmin.html" %}

{% block content %}
 
    <form action="/addWorker" method="POST">
        <div class="addWorker">
            <div class="login-screen">
                <div class="app-title info-text">
                    <h1>Создание аккаунта библиотекаря</h1>
                </div>
                <div class="error-message important-text">
                    {% if errorLogin %}
                        {{ errorLogin }}
                    {% endif %}
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <label class="info-text" for="signup-login" id="signup-login-label" >Логин библиотекаря</label><br>
                        <input required type="text" class="login-field input-field important-text" value="" placeholder="Логин" name="login" id="signup-login">
                    </div>
                    <div class="control-group">
                        <label class="info-text" for="signup-pass" id="signup-pass-label" >Пароль библиотекаря</label><br>
                        <input required type="password" class="login-field input-field important-text" value="" placeholder="Пароль" name="password" id="signup-pass">

                    </div>
                    <br>
                    <div class="control-group">
                        <label class="info-text" for="signup-firstName" id="signup-firstName-label" >Имя библиотекаря</label><br>
                        <input required type="text" class="login-field input-field important-text" value="" placeholder="Имя" name="first_name" id="signup-firstName">
                    </div>
                    <div class="control-group">
                        <label class="info-text" for="signup-lastName" id="signup-lastName-label" >Фамилия библиотекаря</label><br>
	            	    <input required type="text" class="login-field input-field important-text" value="" placeholder="Фамилия" name="last_name" id="signup-lastName">
                    </div>
                    <div class="control-group">
                        <label class="info-text" for="signup-email" id="signup-email-label" >email библиотекаря</label><br>
	            	    <input required type="text" class="login-field input-field important-text" value="" placeholder="email" name="email" id="signup-email">
                    </div>
                    <div class="submit-button">
                        <button class="send-data-button important-text" id="register">Зарегистрировать</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}