{% extends "base.html" %}

{% block page %}
    <ul  class="menu-main">
        <li><a href="/index">Каталог</a></li>
		<li><a href="/rules">Правила библиотеки</a></li>
		<li><a href="/login">Вход</a></li>
		<li><a href="/signup">Регистрация</a></li>
    </ul>
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
