{% extends "base.html" %}

{% block page %}
    <ul  class="menu-main">
        <li><a href="/sendMsg">Написать библиотекарю</a></li>
    	<li><a href="/addWorker">Добавить библиотекаря</a></li>
        <li><a href="/removeWorker">Уволить библиотекаря</a></li>
    	<li><a href="/logout">Выход</a></li>
    </ul>
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}