{% extends "base.html" %}

{% block page %}
    <ul  class="menu-main">
        <li><a href="/createForm">Создать формуляр</a></li>
    	<li><a href="/closeForm">Закрыть формуляр</a></li>
        <li><a href="/addBooks">Добавление книг</a></li>
    	<li><a href="/deleteBooks">Списание книг</a></li>
        <li><a href="/logout">Выход</a></li>
    </ul>
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
