<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/tmpstyle.css" type="text/css">
    <meta charset="UTF-8">
    {% if title %}
		<title>
			{{title}} - Информационная Система Библиотеки
		</title>
    {% else %}
		<title>
			Информационная Система Библиотеки
		</title>
    {% endif %}
    <script>
        function isEmptyElement(value) {
            return document.getElementById(value).value.length === 0;
        }

        function showOrHideElementLabel(element) {
            if (isEmptyElement(element)) {
                document.getElementById(element + '-label').removeAttribute('hidden');
            } else {
                document.getElementById(element + '-label').setAttribute('hidden', 'hidden');
            }
        }

        function checkElementsAndButton(arrElements, iCurrElement, nameOfButton) {
            showOrHideElementLabel(arrElements[iCurrElement])
            if (arrElements.some(isEmptyElement)) {
                document.getElementById(nameOfButton).setAttribute('disabled', 'disabled');
            } else {
                document.getElementById(nameOfButton).removeAttribute('disabled');
            }
        }
    </script>
</head>
    <body>
        <div class = "page">
		    {% block page %}
		    {% endblock %}
        </div>

    </body>
</html>