{% extends "base.html" %}

{% block page %}
    <ul  class="menu-main">
        <li><a href="/index">Каталог</a></li>
        <li><a href="/myBooks">Мои книги</a></li>
		<li><a href="/rules">Правила библиотеки</a></li>
		<li><a href="/logout">Выход</a></li>
    </ul>
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
