{% if session['role'] == "worker" %}
	{% extends "baseWorker.html" %}
{% else %}
	{% if session['role'] == "reader" %}
	    {% extends "baseReader.html" %}
    {% else %}
        {% if session['role'] == "admin" %}
	        {% extends "baseAdmin.html" %}
        {% else %}
	        {% extends "baseGuest.html" %}
        {% endif %}
    {% endif %}
{% endif %}

{% block content %}

<div class="app-title">
        <h1>Поздравляем!</h1>
</div>

<div>
	<p>
		<b>{{ description }}</b>
	</p>
</div>

{% endblock %}