{% extends "baseWorker.html" %}

{% block content %}

    <form action="/createForm" method="POST">
        <div class="createForm">
            <div class="login-screen">
                <div class="app-title info-text">
                    <h1>Выдача книги</h1>
                </div>
                <div class="error-message important-text">
                    {% if errorBook %}
                        {{ errorBook }}
                    {% endif %}
                </div>
                <div class="login-form">
                    <div class="autocomplete-form">
                        <div>
                            <label class="info-text" for="user-name-ac-field" >Начните вводить логин читателя</label><br>
                            <input required type="text" autocomplete="off" class="autocomplete-field important-text" name="username" id="user-name-ac-field" oninput="down_listName(this)">
                        </div>
                        <div class="autocomplete-down-list">
                            {% for id,name in user_info %}
                                <div hidden class="autocomplete-item" id="{{id}}-name">
                                    <input type="text" class="autocomplete-item-text info-text" value="{{name}}" onclick="selectItemName(this)">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="chooseBook-form">
                       <div class="autocomplete-form">
                           <div>
                               <label class="info-text" for="book-name-ac-field" >Начните вводить название книги</label><br>
                               <input type="text" autocomplete="off" class="autocomplete-field important-text" name="book" id="book-name-ac-field" oninput="down_list(this)">
                           </div>
                           <div class="autocomplete-down-list">
                               {% for id,name in book_info %}
                                   <div hidden class="autocomplete-item" id="{{id}}-name">
                                       <input type="text" class="autocomplete-item-text info-text" value="{{name}}" onclick="selectItem(this)">
                                   </div>
                               {% endfor %}
                           </div>
                       </div>

                       <div hidden class="autocomplete-choise" id="autocomplete-choise">
                           <label class="info-text" >Выберите выдаваемую книгу</label>
                           <table>
                               {% for id,name,author,year,picture,status in all_book_info %}
                                   {% if status == 1 %}
                                       <tr id="{{id}}-book" class="exists" onclick="coloring(this, true)">
                                           <td class="img-td"><img src="data:image/png;base64,{{ picture }}" width="38" height="50" class="small-img"/></td>
                                           <td class="important-text"><p class="text-td">{{ name }}</p></td>
                                           <td class="important-text"><p class="text-td">{{ author }}</p></td>
                                           <td class="important-text"><p class="text-td">{{ year }}</p></td>
                                       </tr>
                                   {% else %}
                                       <tr id="{{id}}-book" class="busy">
                                           <td class="img-td"><img src="data:image/png;base64,{{ picture }}" width="38" height="50" class="small-img busy"/></td>
                                           <td class="important-text busy"><p class="text-td">{{ name }}</p></td>
                                           <td class="important-text busy"><p class="text-td">{{ author }}</p></td>
                                           <td class="important-text busy"><p class="text-td">{{ year }}</p></td>
                                       </tr>
                                   {% endif %}
                               {% endfor %}
                           </table>
                       </div>
                       <div hidden>
                           <input type="text" class="" value="" name="result" id="result" onclick="create_result()">
                       </div>
                    </div>
                    <label for="dateFrom">Дата выдачи: </label>
                    <input required type="date" id="dateFrom" name="dateFrom"/>
                    <label for="dateTo">Вернуть до: </label>
                    <input required type="date" id="dateTo" name="dateTo"/>
                    <div class="submit-button">
                        <button class="send-data-button important-text" id="send" onclick="create_result()">Создать формуляр</button>
                    </div>
                </div>
            </div>
        </div>
</form>

    <script>
        let today = new Date();
        document.getElementById('dateFrom').value = today.toISOString().substring(0, 10);

        let retDate = new Date();
        let shift = 14; //in days
        retDate.setDate(today.getDate() + shift);
        document.getElementById('dateTo').value = retDate.toISOString().substring(0, 10);

        let userInfo = {{user_info|tojson}};
        let mapuserInfo = new Map();
        for (let j = 0; j < userInfo.length; j++) {
            mapuserInfo.set(userInfo[j][1], userInfo[j][0]);
        }

        function down_listName(obj) {
            var reg = new RegExp('^' + obj.value, 'i');
            if (obj.value.length > 0) {
                for (let [key, value] of mapuserInfo) {
                    if (reg.test(key)) {
                        document.getElementById(value+'-name').removeAttribute('hidden');
                    } else {
                        document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                    }
                }
            } else {
                for (let [key, value] of mapuserInfo) {
                    document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                }
            }
        }

        function selectItemName(obj) {
            document.getElementById('user-name-ac-field').value = obj.value;
            for (let j = 0; j < userInfo.length; j++) {
                document.getElementById(userInfo[j][0]+'-name').setAttribute('hidden', 'hidden');
            }
        }

        let bookInfo = {{book_info|tojson}};
        let mapBookInfo = new Map();
        for (let j = 0; j < bookInfo.length; j++) {
            mapBookInfo.set(bookInfo[j][1], bookInfo[j][0]);
        }
        let selected = -1;

        function down_list(obj) {
            var reg = new RegExp('^' + obj.value, 'i');
            if (obj.value.length > 0) {
                for (let [key, value] of mapBookInfo) {
                    if (reg.test(key)) {
                        document.getElementById(value+'-name').removeAttribute('hidden');
                    } else {
                        document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                    }
                }
            } else {
                for (let [key, value] of mapBookInfo) {
                    document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                }
            }
        }

        function selectItem(obj) {
            document.getElementById('autocomplete-choise').removeAttribute('hidden');
            document.getElementById('book-name-ac-field').value = obj.value;
            for (let j = 0; j < bookInfo.length; j++) {
                document.getElementById(bookInfo[j][0]+'-name').setAttribute('hidden', 'hidden');
            }
            down(obj)
            selected = -1;
        }

        function down(obj) {
            var reg = new RegExp('^' + obj.value, 'i');
            if (obj.value.length > 0) {
                for (let j = 0; j < bookInfo.length; j++) {
                    if (reg.test(bookInfo[j][1])) {
                        document.getElementById(bookInfo[j][0]+'-book').removeAttribute('hidden');
                    } else {
                        document.getElementById(bookInfo[j][0]+'-book').setAttribute('hidden', 'hidden');
                    }
                }
            } else {
                for (let j = 0; j < bookInfo.length; j++) {
                    document.getElementById(bookInfo[j][0]+'-book').setAttribute('hidden', 'hidden');
                }
            }
        }

        function coloring(obj) {
            const item_id = parseInt(obj.id.toString());
            if (selected === -1) {
                obj.style.backgroundColor = "#a1ca88";
                selected = item_id;
            } else {
                if (selected === item_id) {
                    obj.style.backgroundColor = "#fff4e6";
                    selected = -1;
                } else {
                    document.getElementById(selected+'-book').style.backgroundColor = "#fff4e6";
                    obj.style.backgroundColor = "#a1ca88";
                    selected = item_id;
                }
            }
        }

        function create_result() {
            if (selected !== -1) {
                document.getElementById('result').value = '' + selected;
            } else {
                document.getElementById('result').value = '';
            }
        }
    </script>
{% endblock %}