{% extends "baseWorker.html" %}

{% block content %}

    <form action="/deleteBooks" method="POST">
        <div class="books">
            <div class="deleteBook-screen">
                <div class="app-title info-text">
                    <h1>Списание книг</h1>
                </div>
                <div class="error-message important-text">
                </div>
                <div class="deleteBook-form">
                    <div class="chooseBook-form">
                       <div class="autocomplete-form">
                           <div>
                               <label class="info-text" for="book-name-ac-field" >Начните вводить название книги</label><br>
                               <input type="text" autocomplete="off" class="autocomplete-field important-text" name="book" id="book-name-ac-field" oninput="down_list(this)">
                           </div>
                           <div class="autocomplete-down-list">
                               {% for id,name in book_info %}
                                   <div hidden class="autocomplete-item" id="{{id}}-name">
                                       <input type="text" class="autocomplete-item-text info-text" value="{{name}}" onclick="selectItem(this)">
                                   </div>
                               {% endfor %}
                           </div>
                       </div>

                       <div hidden class="autocomplete-choise" id="autocomplete-choise">
                       <label class="info-text" >Выберите книги, которые хотите списать</label>
                       <table>
                           {% for id,name,author,year,picture,status in all_book_info %}
                               {% if status == 1 %}
                                   <tr id="{{id}}-book" class="exists" onclick="coloring(this, true)">
                                       <td class="img-td"><img src="data:image/png;base64,{{ picture }}" width="38" height="50" class="small-img"/></td>
                                       <td class="important-text"><p class="text-td">{{ name }}</p></td>
                                       <td class="important-text"><p class="text-td">{{ author }}</p></td>
                                       <td class="important-text"><p class="text-td">{{ year }}</p></td>
                                   </tr>
                               {% else %}
                                   <tr id="{{id}}-book" class="busy">
                                       <td class="img-td"><img src="data:image/png;base64,{{ picture }}" width="38" height="50" class="small-img busy"/></td>
                                       <td class="important-text busy"><p class="text-td">{{ name }}</p></td>
                                       <td class="important-text busy"><p class="text-td">{{ author }}</p></td>
                                       <td class="important-text busy"><p class="text-td">{{ year }}</p></td>
                                   </tr>
                               {% endif %}
                           {% endfor %}
                       </table>
                       </div>
                       <div hidden>
                           <input type="text" class="" value="" name="result" id="result" onclick="create_result()">
                       </div>
                    </div>
                    <button class="send-data-button important-text" id="sendButton" onclick="create_result()">Списать</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        let bookInfo = {{book_info|tojson}};
        let mapBookInfo = new Map();
        for (let j = 0; j < bookInfo.length; j++) {
            mapBookInfo.set(bookInfo[j][1], bookInfo[j][0]);
        }
        let selected = [];

        function down_list(obj) {
            var reg = new RegExp('^' + obj.value, 'i');
            if (obj.value.length > 0) {
                for (let [key, value] of mapBookInfo) {
                    if (reg.test(key)) {
                        document.getElementById(value+'-name').removeAttribute('hidden');
                    } else {
                        document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                    }
                }
            } else {
                for (let [key, value] of mapBookInfo) {
                    document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                }
            }
        }

        function selectItem(obj) {
            document.getElementById('autocomplete-choise').removeAttribute('hidden');
            document.getElementById('book-name-ac-field').value = obj.value;
            for (let j = 0; j < bookInfo.length; j++) {
                document.getElementById(bookInfo[j][0]+'-name').setAttribute('hidden', 'hidden');
            }
            down(obj)
            selected.forEach(function(item, i, arr) {
                item.active = false;
            });
        }

        function down(obj) {
            var reg = new RegExp('^' + obj.value, 'i');
            if (obj.value.length > 0) {
                for (let j = 0; j < bookInfo.length; j++) {
                    if (reg.test(bookInfo[j][1])) {
                        document.getElementById(bookInfo[j][0]+'-book').removeAttribute('hidden');
                    } else {
                        document.getElementById(bookInfo[j][0]+'-book').setAttribute('hidden', 'hidden');
                    }
                }
            } else {
                for (let j = 0; j < bookInfo.length; j++) {
                    document.getElementById(bookInfo[j][0]+'-book').setAttribute('hidden', 'hidden');
                }
            }
        }

        function coloring(obj) {
            const item_id = parseInt(obj.id.toString());
            if (selected[item_id] === undefined) {
                obj.style.backgroundColor = "#a1ca88";
                selected[item_id] = {n: obj.value, id: item_id, active: true};
            } else {
                if (selected[item_id].active) {
                    obj.style.backgroundColor = "#fff4e6";
                } else {
                    obj.style.backgroundColor = "#a1ca88";
                }
                selected[item_id].active = !selected[item_id].active;
            }
        }

        function create_result() {
            let res = '';
            selected.forEach(function(item, i, arr) {
                if (item.active) {
                    res = res + item.id + ' ';
                }
            });
            document.getElementById('result').value = res;
        }
    </script>

{% endblock %}