{% extends "baseGuest.html" %}

{% block content %}
{% if session['logged_in'] %}
 
    Вы уже авторизованы, вы молодец!
 
{% else %}
 
    <form action="/login" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title info-text">
                    <h1>Вход в систему</h1>
                </div>
                <div class="error-message important-text">
                    {% if errorLogin %}
                        {{ errorLogin }}
                    {% endif %}
                    {% if errorPassword %}
                        {{ errorPassword }}
                    {% endif %}
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <label class="info-text" for="login-name" id="login-name-label" >Логин</label><br>
                	    <input required type="text" class="login-field input-field important-text" value="" placeholder="Логин" name="username" id="login-name">
                    </div>
                    <div class="control-group">
                        <label class="info-text" for="login-pass" id="login-pass-label" >Пароль</label><br>
                	    <input required type="password" class="login-field input-field important-text" value="" placeholder="Пароль" name="password" id="login-pass">
                    </div>
                    <div class="submit-button">
                        <button class="send-data-button important-text" id="login">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endif %}
{% endblock %}