{% if session['role'] == "reader" %}
	{% extends "baseReader.html" %}
{% else %}
	{% extends "baseGuest.html" %}
{% endif %}

{% block content %}

<div class="app-title">
        <h1>Правила библиотеки...</h1>
</div>

    <h2>Описание системы</h2>
    <p>«Информационная система библиотеки позволяет искать книги в своём каталоге, учитывать выдачу книг на руки и возврат книг, а также позволяет добавлять книги в фонд и списывать их.»</p>
{#    <h2>Описание предметной области</h2>#}
{#    <p>Каталог библиотеки состоит из книг</p>#}
{#    <p>У каждой книги есть множество её экземпляров -её печатных версий, хранящихся в фонде библиотеке или выданных на руки</p>#}
{#    <p>Читатель может одновременно иметь на руках экземпляры нескольких книг</p>#}
{#    <p>Читатель не может иметь на руках более одного экземпляра одной и той же книги</p>#}
{#    <p>Работник библиотеки, выдавая экземпляр книги читателю, выписывает формуляр с датой выдачи и сроком, на который экземпляр книги выдан</p>#}
{#    <p>Работник библиотеки, принимая, экземпляр книги от читателя заносит в формуляр дату возврата экземпляра книги</p>#}
{#    <p>Читателя блокируют, если он не сдал экземпляр книги в положенный срок</p>#}
{#    <p>Читателя разблокируют, как только у него на руках не остаётся ни одного просроченного экземпляра книг (они все возвращены в библиотеку)</p>#}
{#    <p>Заблокированный читатель не может брать экземпляры книг из библиотеки на руки</p>#}
{#    <p>Читатель может оставить/отменить запрос на книгуи тогда его начнут/прекратят уведомлять о выдачах, приёмах, списаниях и появлениях новых экземпляров этой книги в библиотеке </p>#}


{% endblock %}