{% extends "baseAdmin.html" %}

{% block content %}
 
    <form action="/sendMsg" method="POST">
        <div class="sendMsg">
            <div class="login-screen">
                <div class="app-title info-text">
                    <h1>Письмо библиотекарю</h1>
                </div>
                <div class="error-message important-text">
                    {% if errorLogin %}
                        {{ errorLogin }}
                    {% endif %}
                </div>
                <div class="login-form">
                    <div class="autocomplete-form">
                        <div>
                            <label class="info-text" for="user-name-ac-field" >Начните вводить логин библиотекаря</label><br>
                            <input required type="text" autocomplete="off" class="autocomplete-field important-text" name="username" id="user-name-ac-field" oninput="down_list(this)">
                        </div>
                        <div class="autocomplete-down-list">
                            {% for id,name in user_info %}
                                <div hidden class="autocomplete-item" id="{{id}}-name">
                                    <input type="text" class="autocomplete-item-text info-text" value="{{name}}" onclick="selectItem(this)">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="info-text" for="msg" id="msg-label" >Текст Вашего сообщения</label><br>
                        <textarea class="login-field input-text-field info-text" value="" name="msg" id="msg"></textarea>
                    </div>
                    <div class="submit-button">
                        <button class="send-data-button important-text" id="send">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        let userInfo = {{user_info|tojson}};
        let mapuserInfo = new Map();
        for (let j = 0; j < userInfo.length; j++) {
            mapuserInfo.set(userInfo[j][1], userInfo[j][0]);
        }

        function down_list(obj) {
            var reg = new RegExp('^' + obj.value, 'i');
            if (obj.value.length > 0) {
                for (let [key, value] of mapuserInfo) {
                    if (reg.test(key)) {
                        document.getElementById(value+'-name').removeAttribute('hidden');
                    } else {
                        document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                    }
                }
            } else {
                for (let [key, value] of mapuserInfo) {
                    document.getElementById(value+'-name').setAttribute('hidden', 'hidden');
                }
            }
        }

        function selectItem(obj) {
            document.getElementById('user-name-ac-field').value = obj.value;
            for (let j = 0; j < userInfo.length; j++) {
                document.getElementById(userInfo[j][0]+'-name').setAttribute('hidden', 'hidden');
            }
        }
    </script>
{% endblock %}